@{
    ViewData["Title"] = "Service Fabric Reliable Messaging";
}

<div ng-controller="MessageAppController" ng-init="refresh()">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-8 col-xs-offset-2 text-center">
                <h2>Service Fabric Voting Sample</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <form class="col-xs-12 center-block">
                    <button id="btnAdd" class="btn btn-default" ng-click="start()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Start
                    </button>
                </form>
            </div>
            <div class="col-xs-8 col-xs-offset-2">
                <form class="col-xs-12 center-block">
                    <button id="btnAdd" class="btn btn-default" ng-click="refresh()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        Refresh
                    </button>
                </form>
            </div>
            <div class="col-xs-8 col-xs-offset-2">
                <form class="col-xs-12 center-block">
                    <button id="btnAdd" class="btn btn-default" ng-click="toggleAutoRefresh()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        {{ autoRefreshState }}
                    </button>
                </form>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
                <div class="row top-buffer">
                    <img src="/assets/{{serverStatus.serverStatus}}.gif" />
                </div>
            </div>
        </div>
    </div>
</div>